name: reward_progress_bar
description: A highly customizable, animated progress bar widget for Flutter. Perfect for gamification, loyalty programs, and order tracking.
version: 0.0.1
homepage: https://github.com/ahmedabdeen74/Progress-Bar-
repository: https://github.com/ahmedabdeen74/Progress-Bar-
issue_tracker: https://github.com/ahmedabdeen74/Progress-Bar-/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true